<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Front page</a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/wip">Art</a></li>
        <li routerLinkActive="active"><a routerLink="/wip">Gaming</a></li>
        <li routerLinkActive="active"><a routerLink="/wip">Food</a></li>
        <li routerLinkActive="active"><a routerLink="/wip">Movies</a></li>
        <li routerLinkActive="active"><a routerLink="/wip">Science</a></li>
        <div class="btn btn-primary">
          <a routerLinkActive="active" (click)="varTest()">Mike (admin)</a>
          <!--ALS ARGUMENT USERID MEEGEVEN-->
        </div>
        <div class="btn btn-primary">
          <a routerLinkActive="active" (click)="varTest()">Patrick (admin)</a>
          <!--ALS ARGUMENT USERID MEEGEVEN-->
        </div>
        <div class="btn btn-primary">
          <a routerLinkActive="active" (click)="varTest()">Martijn (user)</a>
          <!--ALS ARGUMENT USERID MEEGEVEN-->
        </div>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">My account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" routerLink="/users/this">My account</a></li>
            <li><a style="cursor: pointer;">Settings</a></li>
            <li><a style="cursor: pointer;" routerLink="/blogPosts/ranking">Hall of fame</a></li>
            <li><a style="cursor: pointer;">Log out</a></li>
            <li><a style="cursor: pointer;" routerLink="/blogPosts/frontpage">Front page</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
